extend layout

block pagehead
	h1= 'Issue #' + id

block content
	h2 Summary
	p= issue.summary

	if issue.description
		h2 Description
		.description= issue.description

	h2 Components
	ul
		each component in components
			li= component

	h2 Comments
	ul
		each comment in comments
			li= comment

	form(action='/issue/' + id + '/comment', method='post')
		textarea(name='body')
		button(type='submit') Add Comment