extend layout

block pagehead
	h1
		a(href='/' + project.name)= project.name
		span /issues/
		a(href='/' + project.name + '/issues/' + issue._id)= issue._id

block content
	.issue
		h2= issue.summary

		span Labels:
		ul.tags
			each label in issue.labels
				li= label

		.description= issue.description			

		h2 Comments
		ul
			each comment in comments
				li= comment

		form(action='/issue/' + id + '/comment', method='post')
			textarea(name='body')
			button(type='submit') Add Comment